<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body" ng-cloak>

	<h3 class="page-sub-heading">
		<!-- Invite User -->
		邀请用户
	</h3>

	<div class="p-b-2">
		<!-- Send invite or add existing Grafana user to the organization -->
		发送邀请或将现有Grafana用户添加到组织中
		<span class="highlight-word">{{contextSrv.user.orgName}}</span>
	</div>

	<form name="ctrl.inviteForm">
		<div class="gf-form-group">
			<div class="gf-form max-width-30">
				<span class="gf-form-label width-10">
					<!-- Email or Username -->
					邮箱或者用户名
				</span>
				<input type="text" ng-model="ctrl.invite.loginOrEmail" required class="gf-form-input" placeholder="email@test.com">
			</div>
			<div class="gf-form max-width-30">
				<span class="gf-form-label width-10">
					<!-- Name -->
					姓名
				</span>
				<!-- <input type="text" ng-model="ctrl.invite.name" class="gf-form-input" placeholder="name (optional)"> -->
				<input type="text" ng-model="ctrl.invite.name" class="gf-form-input" placeholder="姓名 (可选)">
			</div>
			<div class="gf-form max-width-30">
        <span class="gf-form-label width-10">
					<!-- Role -->
					角色
				</span>
				<select ng-model="ctrl.invite.role" class="gf-form-input" ng-options="f for f in ['Viewer', 'Editor', 'Admin']">
				</select>
			</div>

			<!-- <gf-form-switch class="gf-form" label="Send invite email" checked="ctrl.invite.sendEmail" label-class="width-10"></gf-form-switch> -->
			<gf-form-switch class="gf-form" label="发送邀请邮件" checked="ctrl.invite.sendEmail" label-class="width-10"></gf-form-switch>

			<div class="gf-form-button-row">
				<button type="submit" class="btn btn-primary" ng-click="ctrl.sendInvite();">
					<!-- Invite -->
					邀请
				</button>
				<a class="btn btn-inverse" href="org/users">
					<!-- Back -->
					返回
				</a>
			</div>
	</form>
</div>
